@import "includes/settings";


body {
background-color: $color_1;
min-width:700px;
}

#header{
width:100%;
padding:5px 0;
height:30px;
background: rgba(0,0,0,.15);
}

/* HEADER*/
.boards_wrapper{
background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
border-radius:3px;
line-height:30px;
display:block;
float:left;
padding-left:5px;
padding-right:5px;
cursor:pointer;
text-decoration:none;
margin-right:8px;
margin-left:5px;
	&:hover{
	    background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
		.boards-icon{color:#fff;};
		.boards{color:#fff;};
	}
}
.boards-icon{
font-size:18px;
padding:5px;
color:#f3f3f3;
}
.boards{
line-height: 30px;
padding:5px;
color:#f3f3f3;
font-weight:700;
font-size:14px;
font-style:"Helvetica Neue", 'Arial';
}

.search{
 background-color: rgba(255,255,255,.3);
border-radius: 3px;
border: none;
color: rgba(255,255,255,.5);
float: left;
height:29px;
margin: 0;
padding-right: 30px;
width: 150px;
	&:hover{ background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);}
	&:focus{background: #fff;}
	&:focus + .search-icon{color: grey;}
}
.search-icon{
font-size:18px;
padding:5px;
margin-left:-30px;
color:#fff;
vertical-align:middle;
z-index:99;
float:left;
}

.logo{
background-image: url(../img/logo.png); 
background-repeat: no-repeat;
float:left;
z-index:99;
display:block;
width:80px;
height:30px;
opacity:  0.5;
transition: opacity ease-in 0.2s;
cursor:pointer;
margin-left:150px;
	&:hover{opacity:1;}
	@media screen and (max-width:790px) {margin-left:50px;}
}

.icon{
background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
border-radius:3px;
padding-top:5px;
text-align:center;
display:block;
float:right;
cursor:pointer;
text-decoration:none;
color:#fff;
width:30px;
height:25px;
margin-right:8px;
font-size:18px;
	&:hover{ background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%); }
}
.user_wrapper{
@extend .boards_wrapper;
float:right;
padding-left:0;
margin-left:0;
}
.user-icon{
background-image: url(../img/yoda.jpg); 
background-repeat: no-repeat;
font-size:18px;
width:30px;
padding:5px;
padding-left:25px;
border-top-left-radius:3px;
border-bottom-left-radius:3px;
color:#f3f3f3;
background-color: #d6dadc;
}
.user{
@extend .boards;
margin-left:5px;
}

/* Content*/
.content_wrapper{
padding: 8px 4px 8px 8px;
}
.testboard{
cursor: default;
float:left;
font-size: 18px;
font-weight: 700;
line-height: 30px;
color:#fff;
padding:0 8px;
border-radius:3px;
margin-right:5px;
    &:hover{background: rgba(0,0,0,.12);}
}
.content-icon{
border-radius:3px;
text-align:center;
display:block;
float:left;
cursor:pointer;
text-decoration:none;
color:#fff;
padding-top:8px;
width:28px;
height:20px;
margin-right:8px;
font-size:12px;
	&:hover{background: rgba(0,0,0,.12);}
}

.private_wrapper{
border-radius:3px;
line-height:30px;
display:block;
float:left;
padding-left:5px;
padding-right:5px;
cursor:pointer;
text-decoration:none;
	&:hover{
	   background: rgba(0,0,0,.12);
		.private-icon{color:#fff;};
		.private{color:#fff;};
	}
}

.private-icon{
font-size:12px;
padding:5px;
color:#f3f3f3;
}
.private{
@extend .boards;
font-weight:100;
font-size:12px;
}
.show_menu{
@extend .private_wrapper;
float:right;
}
.show-icon{
@extend .private-icon;
}
.show{
@extend .private;
text-decoration:underline;
}

/* MENU BAR*/
.menu{
width:320px;
background:#fff;
right:0;
margin-right:-340px;
padding-bottom:20px;
position:absolute;
transition: 0.6s;
box-shadow: 0 0 6px rgba(0,0,0,.4);
background-color: #edeff0;
padding-left:10px;
padding-right:10px;
}
.menu_title{
margin-top:15px;
margin-bottom:10px;
line-height: 20px;
text-align:center;
font-style:"Helvetica Neue", 'Arial';
font-weight:700;
color: #4d4d4d;
}
.fa-times{
float:right;
font-size:20px;
cursor:pointer;
margin-right:5px;
}
.colors{
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
justify-content: space-around;
-webkit-flex-flow: row wrap;
-moz-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
}
.color_1{
background: $color_1;
padding: 5px;
width: 85px;
height: 50px;
margin-top: 10px;
color: white;
font-weight: bold;
font-size: 3em;
text-align: center;
border-radius:3px;
cursor:pointer;
	&:hover{opacity: .8;}

}
.color_2{@extend .color_1; background: $color_2;}
.color_3{@extend .color_1; background: $color_3;}
.color_4{@extend .color_1; background: $color_4;}
.color_5{@extend .color_1; background: $color_5;}
.color_6{@extend .color_1; background: $color_6;}
.color_7{@extend .color_1; background: $color_7;}
.color_8{@extend .color_1; background: $color_8;}
.color_9{@extend .color_1; background: $color_9;}

/* ADDING AREA*/
.lists{
margin-top: 40px;
}
.add_list_simple{
width:250px;
background: rgba(0,0,0,.12);
border-color: #aaa;
box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
border:none;
padding: 7px;
border-radius:3px;
&:hover{    background: rgba(0,0,0,.3);}
}

.input_wrapper{
background-color: #e2e4e6;
width: 275px;
margin: 0 5px;
height:80px;
border-radius:3px;
display:none;
}
.add_list_active{
background: rgba(0,0,0,.05);
border: 1px solid #aaa;
box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
border-radius: 3px;
padding: 7px;
width:250px;
margin-top:5px;
margin-left:5px;
box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
}

.add_list::-webkit-input-placeholder {color: rgba(255,255,255,.7);}
::-moz-placeholder          {color: rgba(255,255,255,.7);}
.add_list:-moz-placeholder           {color: rgba(255,255,255,.7);}
.add_list:-ms-input-placeholder      {color: rgba(255,255,255,.7);}
.add_list::-moz-input-placeholder      {color: rgba(255,255,255,.7);}

:focus::-webkit-input-placeholder {
opacity: 0;
-webkit-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
}

:focus:-moz-placeholder {
opacity: 0;
-moz-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
}

:focus::-moz-placeholder {
opacity: 0;
-moz-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
}

:focus:-ms-input-placeholder {  
opacity: 0;
-ms-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
}

button{
float:left;
background: linear-gradient(to bottom,#61bd4f 0,#5aac44 100%);
box-shadow: 0 1px 0 #3f6f21;
color: #fff;
min-height: 30px;
height: 30px;
border:none;
font-size:14px;
font-style:"Helvetica Neue", 'Arial';
font-weight:700;
margin-top:5px;
margin-left:5px;
padding:5px 20px;
border-radius:3px;
	&:hover{background: -webkit-linear-gradient(top,#5aac44 0,#519839 100%);}
}

.close_list{
float:left;
margin-top: 8px;
margin-left:15px;
color: #999;
font-size:24px;
 &:hover{ color: #4d4d4d;}
}

/* LIST*/
.list_table{
float:left;
width:275px;
background: #e2e4e6;
border-radius: 3px;
padding:10px;
height:100%;

margin-right:10px;
}

.list_title{
@extend .menu_title;
font-size: 15px;
margin-top:0;
text-align:left;
}
.task_title{
padding: 5px 10px;
background-color: #fff;
color: #4d4d4d;
line-height:30px;	
margin-bottom: 10px;
}
.add{margin-left:0;}
.adding_input{
background: rgba(0,0,0,.12);
border-color: #aaa;
box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
border:none;
padding: 7px;
border-radius:3px;
background-color:#fff;
width:260px;
border: 1px solid #ccc;
margin-top:10px;
}

.activate_add{
border-radius: 0 0 3px 3px;
cursor:pointer;
color: #8c8c8c;
margin-top:5px;
margin-left:-10px;
padding-left:15px;
line-height:30px;
margin-right:-10px;
margin-bottom:-10px;
font-size:14px;
font-style:"Helvetica Neue", 'Arial';
		&:hover{	text-decoration:underline; background-color: #cdd2d4;}
}
.adding_wrapper{display:none;}
